.portfolio-text {
  font-size: 1.2rem;
  padding: 2rem 4rem;
  text-align: center;
  font-weight: 600;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;

  .portfolio-item {
    position: relative;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 15px;
    }

    .hover-items {
      @include flexBlock;
      width: 100%;
      height: 280px;
      background-color: var(--color-secondary--80);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: all 0.4s ease-in-out;

      h3 {
        width: 100%;
        text-align: center;
        font-size: 1.35rem;
        color: var(--color-white);
        padding: 0 0.5rem;
        margin-bottom: 1.5rem;
      }
      .icons {
        @include flexBlock;

        .icon {
          @include flexBlock;
          background-color: var(--color-primary);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          margin: 0 1rem;
          cursor: pointer;
          transition: all 0.4s ease-in-out;

          i {
            font-size: 1.5rem;
            color: var(--color-white);
            margin: 0 1rem;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            background-color: var(--color-white);
            transform: translateY(-5px);

            i {
              color: var(--color-primary);
              transform: rotate(360deg);
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
      p {
        position: absolute;
        bottom: 0.4rem;
        width: 90%;
        font-size: 0.9rem;
        text-align: center;
        color: var(--color-white);
        span {
          font-weight: 600;
        }
      }
    }

    &:hover {
      .hover-items {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
